<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Cebuletto - twoja porównywarka cen</title>
    <script defer src="../static/js/api.js"></script>
</head>
<body>
<header>Cebulett<img src="../static/css/logo.png"/ height="50" width="30"></header>
<section id="search">
    <form id="searchForm" onsubmit="getValues(); return false;">
        <button type="button" id="add">Dodaj kolejny produkt</button>
        <button type="button" id="del">Usun ostatni produkt</button>
        <input type="submit" value="Cebuluj" id="find">

        <div id="products">
            <input type="text" class="products_item" name="product_name" placeholder="Wpisz nazwe produktu" required>
        </div>
    </form>

</section>
<section id="results"></section>

<footer><a href="https://github.com/Skav" target="_blank">Dawid Smulkowski 2020 &copy;</a></footer>
</body>
</html>